{% set i = 0 %}
{% set comments_on_page = 6 %}
{% set all_comments = comments | length %}
{% set begin = (page * comments_on_page) - comments_on_page %}
{% set end = begin + comments_on_page %}
{% set all_pages = all_comments / comments_on_page %}
{% set all_pages = all_pages | round(0,'ceil') %}
{% set i = 0 %}
{% set j = 0 %}
												
{% if page_name == "Strona Główna" %}
	{% set link = "/socialweb/web/app_dev.php/profil/galeria/album/" ~ album.id ~ "/zdjecie/" ~image.id ~ "/page" %}
{% elseif page_name == "Profil" %}
	{% set link = "/socialweb/web/app_dev.php/user/" ~user_profile.id ~ "/galeria/album/" ~ album.id ~ "/zdjecie/" ~image.id ~ "/page" %}
{% elseif page_name == "Grupa" %}	
	{% set link = "/socialweb/web/app_dev.php/grupy/id/" ~group.id~ "/dyskusja" %}
{% endif %}
												
{% for comment in comments %}
	{% if j >= begin and j < end %}
		<div class="row comments-row">
			<div class="col-12 text-white">
				{% if comment.name != '' %}
					<a href="/socialweb/web/app_dev.php/user/{{ comment.user_id }}/posty">
				{% else %}
					<a class="pointer">
				{% endif %}
				{% if comment.profile_img == '' %}
					<img src="{{ asset('service-image/user.png') }}" width="30px" class="img-fluid rounded-circle">
				{% else %}
					<img src="{{ asset('images/' ~comment.profile_img) }}" width="30px" height="30px" class="rounded-circle">
				{% endif %}
				</a>
				{% if comment.name != '' %}
					<a href="/socialweb/web/app_dev.php/user/{{ comment.user_id }}/posty" class="text-white">
						<div class="d-inline-block text-bold"><h6>{{comment.name}} {{comment.surname}}</h6></div>
					</a>
				{% else %}	
					<a class="pointer">
						<div class="d-inline-block text-bold"><h6>Konto usunięte</h6></div>
					</a>
				{% endif %}
				<div class="margin_left32">{{comment.text}}</div>
				<div class="text-secondary margin_left32">{{comment.add_date | date("d.m.Y H:i")}}</div>
				<a class="text-primary pointer margin_left32 comments-replay-button" id='comments-replay-button_{{comment.id}}'>
					Odpowiedz
				</a>
				<div class="margin_left32 comments-row replay-comment-div" id="replay-comment-div_{{comment.id}}">
					<div class="row">
						<div class="col-10">
							<div class="input-group">
								<textarea class="form-control" rows="2" id="subcomment-input_{{comment.id}}" placeholder="Odpowiedz"></textarea>
								<button type="button" class="btn btn-primary" onclick="add_comment(0,{{comment.id}})">
									<i class="fa fa-reply"></i> 
								</button>
							</div>
						</div>
					</div>
				</div>
																
				{% set k = 0 %}
				{% set len = 0 %}
				{% set count_showed = 0 %}
																
				{% for subcomment in subcomments %}
					{% if subcomment.comment_id == comment.id %}
						{% set len = len+1 %}
					{% endif %}
				{% endfor %}
																
				{% for subcomment in subcomments %}
					{% if subcomment.comment_id == comment.id %}
						{% if k >= 0 and k <= 4 %}
							<div class="margin_left32 comments-row" id="{{j}}_comments-row_{{k}}">
							{% set count_showed = count_showed + 1 %}
						{% else %}
							<div class="margin_left32 comments-row" style="display:none" id="{{j}}_comments-row_{{k}}">
						{% endif %}
						{% if subcomment.name != '' %}
							<a href="/socialweb/web/app_dev.php/user/{{ subcomment.user_id }}/posty">
						{% else %}
							<a class="pointer">
						{% endif %}
						{% if subcomment.profile_img == '' %}
							<img src="{{ asset('service-image/user.png') }}" width="30px" class="img-fluid rounded-circle">
						{% else %}
							<img src="{{ asset('images/' ~subcomment.profile_img) }}" width="30px" height="30px" class="rounded-circle">
						{% endif %}
						</a>
							
						{% if subcomment.name != '' %}									
							<a href="/socialweb/web/app_dev.php/user/{{ subcomment.user_id }}/posty" class="text-white">
								<div class="d-inline-block text-bold"><h6>{{subcomment.name}} {{subcomment.surname}}</h6></div>
							</a>	
						{% else %}
							<a class="pointer">
								<div class="d-inline-block text-bold"><h6>Konto usunięte</h6></div>
							</a>
						{% endif %}
							
						<div class="margin_left32">{{subcomment.text}}</div>
						<div class="text-secondary margin_left32">{{subcomment.add_date | date("d.m.Y H:i")}}</div>
						</div>
																		
						{% set k = k+1 %}
					{% endif %}
				{% endfor %}
																
				<div class="text-center font-italic pointer" style="display:none" id="{{j}}_subcomments_less" onclick="sub_more_less(0,{{j}},{{ len }})">Mniej</div>
																
				{% if count_showed < len  %}
					<div class="text-center font-italic pointer" id="{{j}}_subcomments_more" onclick="sub_more_less(1,{{j}},{{ len }})">Więcej</div>
				{% endif %}
			</div>
		</div>
		{% set i = i + 1 %}
	{% endif %}
	{% set j = j + 1 %}
{% endfor %}
												
{% if all_comments > comments_on_page %}
	<div class="row row-margin3">
		<div class="col-12 text-center">
			<nav>
				<ul class="pagination justify-content-center">
					{% if page == 1 %}
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Poprzednie</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#"><<</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">1</a></li>	
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/2">2</a></li>
						{% if all_pages >= 3 %}
							<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/3">3</a></li>
						{% endif %}
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{all_pages}}">>></a></li>
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page+1}}">Następne</a></li>
					{% elseif page == all_pages %}
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">Poprzednie</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/1"><<</a></li>
						{% if all_pages >= 3 %}
							<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-2}}">{{page - 2}}</a></li>
						{% endif %}
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">{{page - 1}}</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/{{page}}">{{page}}</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">>></a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Następne</a></li>
					{% else %}
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">Poprzednie</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/1"><<</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{page - 1}}">{{page - 1}}</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/{{page}}">{{page}}</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{page + 1}}">{{page + 1}}</a></li>
						<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{all_pages}}">>></a></li>
						<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page+1}}">Następne</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
{% endif %}

{% if page_name == "Strona Główna" or page_name == "Profil" %}
	{% if comments | length == 0 %}
		<div class="row">
			<div class="col-12 text-center text-white">
				<h5>.</h5>
			</div>
		</div>
		<div class="row text-white">
			<div class="col-sm-12 text-center margin-col">
				<h6>Brak komentarzy</h6>
			</div>
		</div>
		<div class="col-12 text-center text-white">
			<h5>.</h5>
		</div>
	{% endif %}
{% endif %}

{% if page_name == "Grupa" %}
	{% if comments | length == 0 %}
		
		<div class="row text-white row-margin3">
			<div class="col-sm-12 text-center margin-col">
				<h5>Brak komentarzy</h5>
			</div>
		</div>
		
	{% endif %}
{% endif %}