{% extends 'main.html.twig' %}

{% block content %}
	<div id="container8">
		<div class="container-fluid bg-dark">
			<div class="row bg-dark main-row" id="con-groups">
				<div class="col-12">
					<div class="row">
						<div class="col-12 text-center text-white">
							<h5>GRUPY({{ groups | length }})</h5>
						</div>
					</div>
					
					<div class="row">
					
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/film" class=" nav-link text-secondary"><h5>Film</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/gastronomia" class=" nav-link text-secondary"><h5>Gastronomia</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/internet" class=" nav-link text-secondary"><h5>Internet</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/kultura" class=" nav-link text-secondary"><h5>Kultura</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/muzyka" class=" nav-link text-secondary"><h5>Muzyka</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/moda" class=" nav-link text-secondary"><h5>Moda</h5></a>
						</div>
					</div>
					
					<div class="row">
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/nauka" class=" nav-link text-secondary"><h5>Nauka</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/polityka" class=" nav-link text-secondary"><h5>Polityka</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/praca" class=" nav-link text-secondary"><h5>Praca</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/sport" class=" nav-link text-secondary"><h5>Sport</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kategoria/uroda" class=" nav-link text-secondary"><h5>Uroda</h5></a>
						</div>
					</div>
					
					<div class="row text-white row-margin2">
						<div class="col-6 margin-col">
							<div class="bg-secondary" style="border:1px solid;padding:5px;">
								<h6>Wyszukaj grupę</h6>
								<form class="search-form" action="" method="GET">
								<div class="input-group">
									<input type="text" class="form-control" id="search-groups-input" name="name" value="{{search_input}}"  placeholder="Szukaj"/>
									<button class="btn btn-default bg-primary">
										<i class="fa fa-search"></i>
									</button>
								</div>
								</form>
							</div>
						</div>
								
						<div class="col-6 text-center">
							<button class="btn btn-primary" onclick="create_group()">
								<i class="fa fa-plus"></i> Dodaj grupę
							</button>
						</div>
					</div>
					
					{% set groups_on_page = 6 %}
					{% set all_groups = groups | length %}
					{% set begin = (page * groups_on_page) - groups_on_page %}
					{% set end = begin + groups_on_page %}
					{% set all_pages = all_groups / groups_on_page %}
					{% set all_pages = all_pages | round(0,'ceil') %}
					{% set i = 0 %}
					{% set j = 0 %}
						
					{% if category == '' %}		
						{% set link = "/socialweb/web/app_dev.php/grupy" %}
					{% else %}
						{% set link = "/socialweb/web/app_dev.php/grupy/kategoria/"  ~category %}
					
					{% endif %}		
					
					{% for group in groups %}
						{% if j >= begin and j < end %}
							{% if i % 3==0 and i != 0 %}
								<div class="row text-white">
							{% endif %}
						
							{% if i == 0 %}
								<div class="row text-white row-margin3">
							{% endif %}
							
							<div class="col-sm-4 text-center margin-col">
								
								{% if group.image == '' %}
									<a href="/socialweb/web/app_dev.php/grupy/id/{{ group.id }}/dyskusja"><img src="{{ asset('service-image/user-group.png') }}" width="100px" class="img-fluid rounded-circle"></a>
								{% else %}
									<a href="/socialweb/web/app_dev.php/grupy/id/{{ group.id }}/dyskusja"><img src="{{ asset('group_images/'~group.image) }}" width="100px" height="100px" class="rounded-circle"></a>
								{% endif %}

								<a href="/socialweb/web/app_dev.php/grupy/id/{{ group.id }}/dyskusja" class="nav-link text-white">
									<h6 class="text-truncate">{{ group.title }} </h6>
								</a>			
							</div>
							
							{% if i % 3 == 2 or j == all_groups - 1 %}
								</div>
							{% endif %}
							{% set i = i + 1 %}
						{% endif %}
						{% set j = j + 1 %}
					{% endfor %}
					
					{% if all_pages > 1 %}
						<div class="row text-white">
							<div class="col-12 text-center znajomi-col">
								<div class="align-items-center" style="padding:5px;">
									<nav>
										<ul class="pagination justify-content-center">
											{% if page == 1 %}
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Poprzednie</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#"><<</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">1</a></li>	
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/2">2</a></li>
											{% if all_pages >= 3 %}
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/3">3</a></li>
											{% endif %}
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{all_pages}}">>></a></li>
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page+1}}">Następne</a></li>
											{% elseif page == all_pages %}
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">Poprzednie</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/1"><<</a></li>
												{% if all_pages >= 3 %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-2}}">{{page - 2}}</a></li>
												{% endif %}
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">{{page - 1}}</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/{{page}}">{{page}}</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">>></a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Następne</a></li>
											{% else %}
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">Poprzednie</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/1"><<</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{page - 1}}">{{page - 1}}</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/{{page}}">{{page}}</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{page + 1}}">{{page + 1}}</a></li>
												<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{all_pages}}">>></a></li>
												<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page+1}}">Następne</a></li>
											{% endif %}
										</ul>
									</nav>
								</div>
							</div>
						</div>
					{% endif %}
					
					
					<div class="row text-white row-margin2">
						<div class="col-12 margin-col text-center">
						{% if groups | length == 0 %}
							<h5>Nie znaleziono grup</h5>
						{% endif %}
						</div>
					</div>
				</div>
				

				
				
			</div>
			
			
		
		</div>
		
	</div>
	<div class="modal" id="create-group-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">Dodaj nową grupę</h4> 
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<input type="text" class="form-control" id="create-group-title" placeholder="Tytuł"/>
							<h6 id="create-group-title-feedback" class="text-danger text-center"></h6>
						</div>
					</div>
					<div class="row row-margin2">
						<div class="col-12">
							<textarea class="form-control" rows="4" id="create-group-description" placeholder="Opis"></textarea>
							<h6 id="create-group-description-feedback" class="text-danger text-center"></h6>
						</div>
					</div>
				
					<div class="row row-margin2">
						<div class="col-6">
							<select class="form-control" id="create-group-category">
								<option selected disabled="true">Kategoria</option>
								<option>Film</option>
								<option>Gastronomia</option>
								<option>Internet</option>
								<option>Kultura</option>
								<option>Muzyka</option>
								<option>Moda</option>
								<option>Nauka</option>
								<option>Polityka</option>
								<option>Praca</option>
								<option>Sport</option>
								<option>Uroda</option>
							</select>
							<h6 id="create-group-category-feedback" class="text-danger text-center"></h6>
						</div>
					
						<div class="col-6">
							<select class="form-control" id="create-group-type">
								<option selected disabled="true">Typ</option>
								<option>Publiczna</option>
								<option>Prywatna</option>
							</select>
							<h6 id="create-group-type-feedback" class="text-danger text-center"></h6>
						</div>
					</div>
					
					
				</div>
				<div class="modal-footer">
					<button id="button_cancel" type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
					<button id="button_confirm" type="button" class="btn btn-primary">Potwierdzam</button>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
{% endblock %}