{{ form_start(form) }}

	<div class="row row-margin">
		<div class="col-12">
			<label for="reg-email1">Email</label>
			<div class="input-group">
				<span class="input-group-text">@</span> 
				{{ form_widget(form.email) }}
				<div  class="invalid-feedback d-block">
					{{ form_errors(form.email) }}
				</div>
			</div>
		</div>	
	</div>
	<div class="row row-margin">
		<div class="col-12" id="col-reg-pass">
			<label for="reg-pass">Hasło</label>
			<div class="input-group">
				<span class="input-group-text">
					<i class="fa fa-unlock-alt"></i>
				</span> 
				{{ form_widget(form.password) }}
				<div  class="invalid-feedback d-block">
					{{ form_errors(form.password) }}
				</div>
			</div>
		</div>	
	</div>

	<div class="row row-margin">
		<div class="col-12">
			<div class="d-flex justify-content-center align-items-center">
				{{ form_widget(form.login) }}
			</div>
		</div>
	</div>	

{{ form_end(form) }}