<div id="container3">
		<div class="container-fluid">
			<div class="row bottom-border2 text-white bg-dark" id="row-title">
				<div class="col font-comic log-reg-title-active" id="title-posts">
					<h5>POSTY</h5>
				</div>
				<div class="col font-comic pointer" id="title-profile">
					<h5>MÓJ PROFIL</h5>
				</div>
				<div class="col font-comic pointer" id="title-friends">
					<h5>ZNAJOMI</h5>
				</div>			  
				<div class="col font-comic pointer" id="title-galery">
					<h5>GALERIA</h5>
				</div>			
			</div>
			<div class="row bg-dark main-row">
				<div class="col-12">
					<div class="container" id="con-posts">
						<div class="row bg-success">
							<div class="col-12">
								POSTY
							</div>
						</div>
					</div>
					
					<div class="container" id="con-profile">
						<div class="row bg-success">
							<div class="col-12">
								PROFIL
							</div>
						</div>
					</div>
					
					{% if subpage == 'znajomi' %}
						<div class="container" id="con-friends">
							<div class="row text-white">
								<div class="col-12 text-center">
									<h5> ZNAJOMI({{friends | length}})</h5>
								</div>
							</div>
						
							{% set friends_on_page = 6 %}
							{% set all_friends = friends | length %}
							{% set begin = (page * friends_on_page) - friends_on_page %}
							{% set end = begin + friends_on_page %}
							{% set all_pages = all_friends / friends_on_page %}
							{% set all_pages = all_pages | round(0,'ceil') %}
							{% set i = 0 %}
							{% set j = 0 %}
						
							{% if page_name == "Strona Główna" %}
								{% set link = "/socialweb/web/app_dev.php/profil/znajomi" %}
							{% elseif page_name == "Profil" %}
								{% set link = "/socialweb/web/app_dev.php/user/" ~user_profile.id ~ "/znajomi"%}
							{% endif %}
						
							<div class="row text-white">
								<div class="col-6 margin-col">
									<div class="bg-secondary" style="border:1px solid;padding:5px;">
										<h6>Wyszukaj znajomego</h6>
										<div class="input-group">
											<input type="text" class="form-control" id="search-friends-input" value="{{ search_input }}"  placeholder="Szukaj"/>
											<button class="btn btn-default bg-primary">
												<i class="fa fa-search"></i>
											</button>
										</div>
										
									</div>
								</div>
							</div>
							{% for friend in friends %}
								{% if j >= begin and j < end %}
									{% if i % 3==0 %}
										<div class="row text-white">
									{% endif %}
									<div class="col-sm-4 text-center margin-col">
										<div class="bg-secondary" style="border:1px solid;padding:5px">
											{% if friend.profile_img == '' %}
												<a href="/socialweb/web/app_dev.php/user/{{ friend.id }}/posty"><img src="{{ asset('service-image/user.png') }}" width="100px" class="img-fluid rounded-circle"></a>
											{% else %}
												<a href="/socialweb/web/app_dev.php/user/{{ friend.id }}/posty"><img src="{{ asset('images/'~friend.profile_img) }}" width="100px" height="100px" class="rounded-circle"></a>
											{% endif %}
											<h5 class="text-truncate">{{ friend.name }} {{ friend.surname }}</h5>
											{% if friend.city == '' %}
												<h6>-</h6>
											{% else %}
												<h6>{{ friend.city }}</h6>
											{% endif %}
											<h6>
												{{ friend.age }}
												{% if friend.age == 1 %}
													rok 
												{% elseif friend.age % 100 >= 10 and  friend.age % 100 <= 19 %}
												lat
												{% else %}
													{% if friend.age % 10 in [0,1,5,6,7,8,9] %}
														lat
													{% endif %}
													{% if friend.age % 10 in [2,3,4] %}
														lata
													{% endif %}
												{% endif %}
											</h6>
											{% if friend.id != user[0] %}
												<h5><button class="btn btn-primary"><i class="fa fa-envelope text-white"></i></button>
											{% else %}
												<h5 style="padding:15px">
											{% endif %}
									
											{% if page_name == "Profil" and  friend.id != user[0] %}
												{% if friend.friendship == 0 %}
													<button class="btn btn-primary" onclick="add_to_friends({{friend.id}})"><i class="fa fa-user-plus text-white"></i></button>
												{% elseif friend.friendship == 1 %}
													<button class="btn btn-primary disabled" title="Jesteście znajomymi"><i class="fa fa-user-plus text-white"></i></button>
												{% elseif friend.friendship == 2 %}
													<button class="btn btn-primary disabled" title="Wysłano zaproszenie"><i class="fa fa-user-plus text-white"></i></button>
												{% endif %}
											{% endif %}
											{% if page_name == "Strona Główna" %}
												<button class="btn btn-primary" title="Usuń użytkownika" onclick="delete_friend({{friend.id}})"><i class="fa fa-user-times text-white"></i></button>
											{% endif %}
											</h5>
										</div>
									</div>
							
									{% if i % 3 == 2 or j == all_friends - 1 %}
										</div>
									{% endif %}
									{% set i = i + 1 %}
								{% endif %}
								{% set j = j + 1 %}
							{% endfor %}
						
							{% if all_pages > 1 %}
								<div class="row text-white">
									<div class="col-12 text-center znajomi-col">
										<div class="align-items-center" style="padding:5px;">
											<nav>
												<ul class="pagination justify-content-center">
													{% if page == 1 %}
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Poprzednie</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#"><<</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">1</a></li>	
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/2">2</a></li>
														{% if all_pages >= 3 %}
															<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/3">3</a></li>
														{% endif %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{all_pages}}">>></a></li>
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page+1}}">Następne</a></li>
													{% elseif page == all_pages %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">Poprzednie</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/1"><<</a></li>
														{% if all_pages >= 3 %}
															<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-2}}">{{page - 2}}</a></li>
														{% endif %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">{{page - 1}}</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/{{page}}">{{page}}</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">>></a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Następne</a></li>
													{% else %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page-1}}">Poprzednie</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/1"><<</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{page - 1}}">{{page - 1}}</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/{{page}}">{{page}}</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{page + 1}}">{{page + 1}}</a></li>
														<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/{{all_pages}}">>></a></li>
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/{{page+1}}">Następne</a></li>
													{% endif %}
												</ul>
											</nav>
										</div>
									</div>
								</div>
							{% endif %}
							
							{% if friends | length == 0 %}	
								<div class="row">
									<div class="col-12 text-center text-white">
										<h5>.</h5>
										</div>
								</div>
								<div class="row text-white">
									<div class="col-sm-12 text-center margin-col">
										{% if page_name == "Strona Główna" and search_input == "" %}
											<h5>Nie posiadasz znajomych</h5>
										{% elseif page_name == "Profil" and search_input == "" %}
											<h5>Użytkownik nie posiada znajomych</h5>
										{% elseif search_input != "" %}
											<h5>Brak wyników</h5>
										{% endif %}
									</div>
								</div>
							{% endif %}
						</div>
					{% endif %}
					{% if subpage == 'galeria' %}
						<div class="container" id="con-galery">
							<div class="row">
								<div class="col-12 text-center text-white">
									<h5>GALERIA({{albums|length}})</h5>
								</div>
							</div>
							{% if page_name == "Strona Główna" %}
								<div class="row text-white row-galery">
									<div class="col-sm-7 text-center margin-col">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="" id="new_album"/>
											<button type="button" class="btn btn-primary margin_left20" onclick="add_album()">Dodaj album</button>
										</div>
										<h6 id="add-album-feedback" class="text-danger"></h6>
									</div>
								</div>
							{% endif %}
							{% set albums_on_page = 4 %}
							{% set all_albums = albums | length %}
							{% set begin = (page * albums_on_page) - albums_on_page %}
							{% set end = begin + albums_on_page %}
							{% set all_pages = all_albums / albums_on_page %}
							{% set all_pages = all_pages | round(0,'ceil') %}
							{% set i = 0 %}
							{% set j = 0 %}
							
							{% if page_name == "Strona Główna" %}
								{% set link = "/socialweb/web/app_dev.php/profil" %}
							{% elseif page_name == "Profil" %}
								{% set link = "/socialweb/web/app_dev.php/user/" ~user_profile.id %}
							{% endif %}
								
							{% for album in albums %}
								{% if j >= begin and j < end %}
									{% if i % 4==0 %}
										<div class="row text-white row-galery">
									{% endif %}
									<div class="col-sm-3 text-center margin-col galery-div">
										<div class="bg-secondary" style="border:1px solid;padding:5px;">
											<a href="{{ link }}/galeria/album/{{album.id}}/page/1"><img src="{{ asset('service-image/no_image.png') }}" width="150px" class="img-fluid rounded"></a>
											<h5 class="text-truncate">{{album.album_name}}</h5>
										</div>
									</div>
									{% if i % 4 == 3 or j == all_albums - 1%}
										</div>
									{% endif %}
									{% set i = i + 1 %}
								{% endif %}
								{% set j = j + 1 %}
							{% endfor %}
							
							{% if all_albums > albums_on_page %}
								<div class="row row-margin3">
									<div class="col-12 text-center">
										<nav>
											<ul class="pagination justify-content-center">
												{% if page == 1 %}
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Poprzednie</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#"><<</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">1</a></li>	
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/2">2</a></li>
													{% if all_pages >= 3 %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/3">3</a></li>
													{% endif %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{all_pages}}">>></a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{page+1}}">Następne</a></li>
												{% elseif page == all_pages %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{page-1}}">Poprzednie</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/1"><<</a></li>
													{% if all_pages >= 3 %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{page-2}}">{{page - 2}}</a></li>
													{% endif %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{page-1}}">{{page - 1}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/galeria/{{page}}">{{page}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">>></a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Następne</a></li>
												{% else %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{page-1}}">Poprzednie</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/1"><<</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/{{page - 1}}">{{page - 1}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/galeria/{{page}}">{{page}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/{{page + 1}}">{{page + 1}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/{{all_pages}}">>></a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/{{page+1}}">Następne</a></li>
												{% endif %}
											</ul>
										</nav>
									</div>
								</div>
							{% endif %}
							
							{% if albums | length == 0 %}	
								<div class="row">
									<div class="col-12 text-center text-white">
										<h5>.</h5>
									</div>
								</div>
								<div class="row text-white">
									<div class="col-sm-12 text-center margin-col">
										{% if page_name == "Strona Główna" %}
											<h5>Nie posiadasz żadnych albumów</h5>
										{% elseif page_name == "Profil" %}
											<h5>Użytkownik nie posiada żadnych albumów</h5>
										{% endif %}
									</div>
								</div>
							{% endif %}
						</div>
					{% endif %}
					
					{% if subpage == 'album' %}
						<div class="container" id="con-album">
							<div class="row">
								<div class="col-12 text-center text-white">
									<h5>{{album.album_name}}({{images |length}})</h5>
								</div>
							</div>
							{% if page_name == "Strona Główna" %}
								<div class="row">
									<div class="col-12 text-center text-white">
										<h5>.</h5>
									</div>
								</div>
							
								<div class="row text-white">
									<div class="col-sm-12 text-center margin-col">
										<form method="POST" id="upload-form" enctype="multipart/form-data">
											<label class="btn btn-primary btn-file">
												<i class="fa fa-image"></i>
												Dodaj zdjęcie do albumu 
												<input accept="image/*" type="file" id="add-image" name="add-image">
											</label>
										</form>
										<h6 id="image-feedback" class="text-danger"></h6>
									</div>
								</div>
								<div class="row">
									<div class="col-12 text-center text-white">
										<h5>.</h5>
									</div>
								</div>
								<div class="row text-white">
									<div class="col-sm-12 text-center margin-col">
										<button type="button" class="btn btn-primary" onclick="delete_album()">
											<i class="fa fa-trash"></i> 
											Usuń cały album
										</button>
									
									</div>
								</div>
							
								<div class="row">
									<div class="col-12 text-center text-white">
										<h5>.</h5>
									</div>
								</div>
							
								<div class="row">
									<div class="col-sm-12 text-center margin-col">
										<div class="btn-group" role="group"  id="album_access">
											{% if album.getalbum_access == 0 %}
												<button type="button" class="btn btn-primary active" name="0" onclick="change_album_access(this.name)">Album publiczny</button>
											{% else %}
												<button type="button" class="btn btn-primary" name="0" onclick="change_album_access(this.name)">Album publiczny</button>
											{% endif %}
											{% if album.getalbum_access == 1 %}
												<button type="button" class="btn btn-primary active" name="1" onclick="change_album_access(this.name)">Album prywatny</button>
											{% else %}
												<button type="button" class="btn btn-primary" name="1" onclick="change_album_access(this.name)">Album prywatny</button>
											{% endif %}
											{% if album.getalbum_access == 2 %}
												<button type="button" class="btn btn-primary active" name="2" onclick="change_album_access(this.name)">Widoczny dla znajomych</button>
											{% else %}
												<button type="button" class="btn btn-primary" name="2" onclick="change_album_access(this.name)">Widoczny dla znajomych</button>
											{% endif %}
										</div>
									</div>
								</div>
							
								<div class="row">
									<div class="col-12 text-center text-white">
										<h5>.</h5>
									</div>
								</div>
								<div class="row text-white">
									<div class="col-sm-12 text-center margin-col">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="{{album.getalbum_name}}" id="new_album_name"/>
										<button type="button" class="btn btn-primary margin_left20" onclick="change_album_name()">Zmień nazwę albumu</button>
									
										</div><h6 id="album-name-feedback" class="text-danger"></h6>
									</div>
								</div>
							{% endif %}
							<div class="row">
								<div class="col-12 text-center text-white">
									<h5>.</h5>
								</div>
							</div>
							
							{% set i = 0 %}
							{% set image_on_page = 12 %}
							{% set all_image = images | length %}
							{% set begin = (page * image_on_page) - image_on_page %}
							{% set end = begin + image_on_page %}
							{% set all_pages = all_image / image_on_page %}
							{% set all_pages = all_pages | round(0,'ceil') %}
							{% set i = 0 %}
							{% set j = 0 %}
							
							{% if page_name == "Strona Główna" %}
								{% set link = "/socialweb/web/app_dev.php/profil" %}
							{% elseif page_name == "Profil" %}
								{% set link = "/socialweb/web/app_dev.php/user/" ~user_profile.id %}
							{% endif %}
							
							{% for image in images %}
								{% if j >= begin and j < end %}
									{% if i%4==0 %}
										<div class="row text-white">
									{% endif %}
									<div class="col-sm-3 text-center margin-col">
										<a href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/1">
											<img src="{{ asset('images/' ~image.image_name) }}" width="150px" class="img-fluid rounded galery-img">
										</a>
									</div>
									{% if i % 4 == 3 or j == all_image - 1 %}
										</div>
									{% endif %}
									
									{% set i = i + 1 %}
								{% endif %}
								{% set j = j + 1 %}
							{% endfor %}
							
							{% if all_image > image_on_page %}
								<div class="row row-margin3">
									<div class="col-12 text-center">
										<nav>
											<ul class="pagination justify-content-center">
												{% if page == 1 %}
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Poprzednie</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#"><<</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">1</a></li>	
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/2">2</a></li>
													{% if all_pages >= 3 %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/3">3</a></li>
													{% endif %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/{{all_pages}}">>></a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/{{page+1}}">Następne</a></li>
												{% elseif page == all_pages %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/{{page-1}}">Poprzednie</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/1"><<</a></li>
													{% if all_pages >= 3 %}
														<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/{{page-2}}">{{page - 2}}</a></li>
													{% endif %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/{{page-1}}">{{page - 1}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/galeria/album/{{album.id}}/page/{{page}}">{{page}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">>></a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Następne</a></li>
												{% else %}
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}galeria/album/{{album.id}}/page/{{page-1}}">Poprzednie</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/1"><<</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/album/{{album.id}}/page/{{page - 1}}">{{page - 1}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/galeria/album/{{album.id}}/page/{{page}}">{{page}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/album/{{album.id}}/page/{{page + 1}}">{{page + 1}}</a></li>
													<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/album/{{album.id}}/page/{{all_pages}}">>></a></li>
													<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/page/{{page+1}}">Następne</a></li>
												{% endif %}
											</ul>
										</nav>
									</div>
								</div>
							{% endif %}
							{% if images | length == 0 %}	
								<div class="row text-white">
									<div class="col-sm-12 text-center margin-col">
										{% if page_name == "Strona Główna" %}
											<h5>Nie posiadasz zdjęć w tym albumie</h5>
										{% elseif page_name == "Profil" %}
											<h5>Użytkownik nie posiada zdjęć w tym albumie</h5>
										{% endif %}
									</div>
								</div>
							{% endif %}
						
						</div>
					{% endif %}
					{% if subpage == 'zdjecie' %}
						<div class="container" id="con-image">
							<div class="row">
								<div class="col-sm-12 text-center">
									<div class="image-div text-left">
										<img src="{{ asset('images/' ~image.image_name) }}" width="100%" class="img-fluid rounded"/>
										{% if user[9] == image.image_name %}
											<div class="is_profile_img"><a class="btn btn-primary" title="To zdjęcie jest Twoim profilowym">
												<i class="fa fa-image text-white"></i></a>
											</div>
										{% endif %}
										{% if page_name == "Strona Główna" %}
											<div class="text-white" id="setting-image-div">
												<button type="button" class="btn btn-primary" title="Usuń zdjęcie" onclick="delete_image()">
													<i class="fa fa-trash"></i> 
												</button>
												{% if not album.album_access == 1 %}
													<button type="button" class="btn btn-primary" title="Ustaw jako profilowe" onclick="set_as_profile_img()">
														<i class="fa fa-user"></i> 
													</button>
												{% endif %}
												<button type="button" class="btn btn-primary" title="Dodaj opis" onclick="edit_image_description()">
													<i class="fa fa-pencil"></i> 
												</button>
											</div>
											{% endif %}
											{% if page_name == "Strona Główna" %}
												<div class="info-image-div text-white">
													<h6>
														{% if user[9] == '' %}
															<img src="{{ asset('service-image/user.png') }}" width="30px" class="img-fluid rounded-circle">
														{% else %}
															<img src="{{ asset('images/' ~user[9]) }}" width="30px" height="30px" class="rounded-circle">
														{% endif %}
														{{user[1]}} {{user[2]}} <br>
														<div class="margin_left32">dodano {{image.add_date | date("d.m.Y")}}</div>
													</h6>
												</div>
											{% endif %}
											{% if page_name == "Profil" %}
												<div class="info-image-div text-white">
													<h6>
														{% if user[9] == '' %}
															<img src="{{ asset('service-image/user.png') }}" width="30px" class="img-fluid rounded-circle">
														{% else %}
															<img src="{{ asset('images/' ~user_profile.getprofile_img) }}" width="30px" height="30px" class="rounded-circle">
														{% endif %}
														{{user_profile.getname}} {{user_profile.getsurname}} <br>
														<div class="margin_left32">dodano {{image.add_date |date("d.m.Y")}}</div>
													</h6>
												</div>
											{% endif %}
											
											{% if not image.description == '' %}
												<div class="description-image-div">
													<div class="text-white"><h6>{{ image.description }}</h6></div>
												</div>
											{% endif %}
											<div class="comments-image-div">
												<div class="row">
													<div class="col-12 text-center text-white">
														<h5>Komentarze({{image_comments | length}})</h5>
													</div>
												</div>
												
												{% set i = 0 %}
												{% set image_comments_on_page = 6 %}
												{% set all_image_comments = image_comments | length %}
												{% set begin = (page * image_comments_on_page) - image_comments_on_page %}
												{% set end = begin + image_comments_on_page %}
												{% set all_pages = all_image_comments / image_comments_on_page %}
												{% set all_pages = all_pages | round(0,'ceil') %}
												{% set i = 0 %}
												{% set j = 0 %}
												
												{% if page_name == "Strona Główna" %}
													{% set link = "/socialweb/web/app_dev.php/profil" %}
												{% elseif page_name == "Profil" %}
													{% set link = "/socialweb/web/app_dev.php/user/" ~user_profile.id %}
												{% endif %}
												
												{% for image_comment in image_comments %}
													{% if j >= begin and j < end %}
														<div class="row comments-row">
															<div class="col-12 text-white">
																{% if image_comment.name != '' %}
																	<a href="/socialweb/web/app_dev.php/user/{{ image_comment.user_id }}/posty">
																{% else %}
																	<a class="pointer">
																{% endif %}
																	{% if image_comment.profile_img == '' %}
																		<img src="{{ asset('service-image/user.png') }}" width="30px" class="img-fluid rounded-circle">
																	{% else %}
																		<img src="{{ asset('images/' ~image_comment.profile_img) }}" width="30px" height="30px" class="rounded-circle">
																	{% endif %}
																</a>
																{% if image_comment.name != '' %}
																<a href="/socialweb/web/app_dev.php/user/{{ image_comment.user_id }}/posty" class="text-white">
																	<div class="d-inline-block text-bold"><h6>{{image_comment.name}} {{image_comment.surname}}</h6></div>
																</a>
																{% endif %}
																<div class="margin_left32">{{image_comment.text}}</div>
																<div class="text-secondary margin_left32">{{image_comment.add_date | date("d.m.Y H:i")}}</div>
																<a class="text-primary pointer margin_left32 image-comments-replay-button" id='image-comments-replay-button_{{image_comment.id}}'>
																	Odpowiedz
																</a>
																<div class="margin_left32 comments-row replay-image-comment-div" id="replay-image-comment-div_{{image_comment.id}}">
																	<div class="row">
																		<div class="col-10">
																			<div class="input-group">
																				<textarea class="form-control" rows="2" id="image_subcomment-input_{{image_comment.id}}" placeholder="Odpowiedz"></textarea>
																				<button type="button" class="btn btn-primary" onclick="add_image_comment(0,{{image_comment.id}})">
																					<i class="fa fa-reply"></i> 
																				</button>
																			</div>
																		</div>
																	</div>
																</div>
																
																{% set k = 0 %}
																{% set len = 0 %}
																{% set count_showed = 0 %}
																
																{% for image_subcomment in image_subcomments %}
																	{% if image_subcomment.image_comment_id == image_comment.id %}
																		{% set len = len+1 %}
																	{% endif %}
																{% endfor %}
																
																{% for image_subcomment in image_subcomments %}
																	{% if image_subcomment.image_comment_id == image_comment.id %}
																		{% if k >= 0 and k <= 4 %}
																			<div class="margin_left32 comments-row" id="{{j}}_comments-row_{{k}}">
																			{% set count_showed = count_showed + 1 %}
																		{% else %}
																			<div class="margin_left32 comments-row" style="display:none" id="{{j}}_comments-row_{{k}}">
																		{% endif %}
																			<a href="/socialweb/web/app_dev.php/user/{{ image_subcomment.user_id }}/posty">
																				{% if image_subcomment.profile_img == '' %}
																					<img src="{{ asset('service-image/user.png') }}" width="30px" class="img-fluid rounded-circle">
																				{% else %}
																					<img src="{{ asset('images/' ~image_subcomment.profile_img) }}" width="30px" height="30px" class="rounded-circle">
																				{% endif %}
																			</a>
																
																			<a href="/socialweb/web/app_dev.php/user/{{ image_subcomment.user_id }}/posty" class="text-white">
																				<div class="d-inline-block text-bold"><h6>{{image_subcomment.name}} {{image_subcomment.surname}}</h6></div>
																			</a>	
																			<div class="margin_left32">{{image_subcomment.text}}</div>
																			<div class="text-secondary margin_left32">{{image_subcomment.add_date | date("d.m.Y H:i")}}</div>
																		</div>
																		
																		{% set k = k+1 %}
																	{% endif %}
																{% endfor %}
																
																<div class="text-center font-italic pointer" style="display:none" id="{{j}}_subcomments_less" onclick="image_sub_more_less(0,{{j}},{{ len }})">Mniej</div>
																
																{% if count_showed < len  %}
																	<div class="text-center font-italic pointer" id="{{j}}_subcomments_more" onclick="image_sub_more_less(1,{{j}},{{ len }})">Więcej</div>
																{% endif %}
															</div>
														</div>
														{% set i = i + 1 %}
													{% endif %}
													{% set j = j + 1 %}
												{% endfor %}
												
												
												{% if all_image_comments > image_comments_on_page %}
													<div class="row row-margin3">
														<div class="col-12 text-center">
															<nav>
																<ul class="pagination justify-content-center">
																	{% if page == 1 %}
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Poprzednie</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#"><<</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">1</a></li>	
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/2">2</a></li>
																	{% if all_pages >= 3 %}
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/3">3</a></li>
																	{% endif %}
																	<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{all_pages}}">>></a></li>
																	<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page+1}}">Następne</a></li>
																	{% elseif page == all_pages %}
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page-1}}">Poprzednie</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/1"><<</a></li>
																	{% if all_pages >= 3 %}
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page-2}}">{{page - 2}}</a></li>
																	{% endif %}
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page-1}}">{{page - 1}}</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page}}">{{page}}</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">>></a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="#">Następne</a></li>
																	{% else %}
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page-1}}">Poprzednie</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/1"><<</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page - 1}}">{{page - 1}}</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn disabled" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page}}">{{page}}</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page + 1}}">{{page + 1}}</a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white btn" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{all_pages}}">>></a></li>
																		<li class="page-item"><a class="page-link bg-primary text-white" href="{{ link }}/galeria/album/{{album.id}}/zdjecie/{{image.id}}/page/{{page+1}}">Następne</a></li>
																	{% endif %}
																</ul>
															</nav>
														</div>
													</div>
												{% endif %}
												
												{% if image_comments | length == 0 %}
													<div class="row">
														<div class="col-12 text-center text-white">
															<h5>.</h5>
														</div>
													</div>
													<div class="row text-white">
														<div class="col-sm-12 text-center margin-col">
															<h6>Brak komentarzy</h6>
										
									</div>
								</div>
								<div class="col-12 text-center text-white">
										<h5>.</h5>
									</div>
								</div>
							{% endif %}
											</div>
											<div class="comments-image-div bg-secondary">
												<div class="row">
													<div class="col-12 text-center text-white">
														<h5>Dodaj komentarz</h5>
													</div>
												</div>
												<div class="row comments-row">
													<div class="col-12 text-center text-white">
														<textarea class="form-control" rows="5" id="main_image_comment-input" placeholder="Napisz komentarz"></textarea>
													<div class="text-danger" id="main_image_comment_input-feedback"></div>
													</div>
												</div>
												<div class="row comments-row">
													<div class="col-12 text-center text-white">
														<button type="button" class="btn btn-primary" onclick="add_image_comment(1)">
															Dodaj 
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					{% endif %}
					
				</div>
			</div>
		</div>
	</div>
	{% if subpage == 'zdjecie' %}
		<div class="modal" id="edit-image-description-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<h4 class="modal-title">Edytuj opis</h4> 
						<button type="button" class="close" data-dismiss="modal">×</button>
					</div>
					<div class="modal-body">
						<textarea class="form-control" rows="5" id="img-description" placeholder="{{image.description}}"></textarea>
						<h6 id="edit-image-description-feedback" class="text-danger text-center"></h6>
					</div>
					<div class="modal-footer">
						<button id="button_cancel" type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
						<button id="button_confirm" type="button" class="btn btn-primary">Potwierdzam</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	
	{% include 'decision_modal.html.twig' %}